.summaryContainer {
  display: flex;
  justify-content: center;
  gap: 32px;
}

.textCards {
  color: white;
}

.cardDiv {
  height: 136px;
  width: 352px;
  background-color: #219653;
  border-radius: 5px;
  transform: translateY(-70%);
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 18px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
